{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
.value{
padding-bottom:10px;
display: block;
}
</style>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

<!--     <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2> -->
    <div class="value">
      {% if post.image_proj %}
        <img src="{{base_path}}{{ post.image_proj }}" style="padding-right:10px" align="left" height="200" width="200">
      {% endif %}

      {% if post.title %}
        <b style="text-align:left;padding-bottom:5px"> {{ post.title }} </b> 
      {% endif %}

      {% if post.proj_desc %}
        <p style="text-align:left"> {{ post.proj_desc }} </p> 
      {% endif %}
    </div>
    
<!--     <center>
    {% if post.acmlink %}
      <b style="padding-right:15px"> <a href="{{ post.acmlink }}">DOI</a> </b>
    {% endif %}
    
    {% if post.video %}
      <b style="padding-right:15px"> <a href="{{ post.video }}">VIDEO</a> </b>
    {% endif %}
    
    {% if post.talk %}
      <b> <a href="{{ post.talk }}">TALK</a> </b> <br>
    {% endif %}
    </center> -->
   
    
  </article>
</div>
